[Unit]
Description=ROT13 demo service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=mui
ExecStart=/usr/bin/env php /home/mui/Development/learnsystemd/server.php

[Install]
WantedBy=multi-user.target
